In [70]:
import pandas as pd
import numpy as np

In [71]:
events = pd.read_csv('events.csv')
events['time'] = pd.to_datetime(events['time'])

## Task A: We would like you to reduce data temporal granularity to 10 minutes, so that there is only one single row for each 10 minutes.

In [72]:
events_10_min = events.groupby([pd.Grouper(key='time', freq='10min'), 'action'])['action'].count().reset_index(name='count')
events_10_min

                         time action  count
0   2016-07-26 02:40:00+00:00   Open     32
1   2016-07-26 02:50:00+00:00  Close     11
2   2016-07-26 02:50:00+00:00   Open    147
3   2016-07-26 03:00:00+00:00  Close     19
4   2016-07-26 03:00:00+00:00   Open    162
..                        ...    ...    ...
609 2016-07-28 06:00:00+00:00  Close     67
610 2016-07-28 06:10:00+00:00  Close     55
611 2016-07-28 06:20:00+00:00  Close     36
612 2016-07-28 06:30:00+00:00  Close     27
613 2016-07-28 06:40:00+00:00  Close      6

[614 rows x 3 columns]

## Task B: Over this temporal aggregation count how many actions of each type there is per minute.

In [81]:
events_1_min = events.groupby([pd.Grouper(key='time', freq='1min'), 'action'])['action'].count().reset_index(name='count')
print(events_1_min)

                          time action  count
0    2016-07-26 02:45:00+00:00   Open      2
1    2016-07-26 02:46:00+00:00   Open      2
2    2016-07-26 02:47:00+00:00   Open     11
3    2016-07-26 02:48:00+00:00   Open      7
4    2016-07-26 02:49:00+00:00   Open     10
...                        ...    ...    ...
6117 2016-07-28 06:42:00+00:00  Close      1
6118 2016-07-28 06:43:00+00:00  Close      1
6119 2016-07-28 06:45:00+00:00  Close      1
6120 2016-07-28 06:47:00+00:00  Close      1
6121 2016-07-28 06:48:00+00:00  Close      1

[6122 rows x 3 columns]

## Task C: After previous calculation, please compute the average number of actions each 10 minutes.

In [74]:
events_10_min_average = events_10_min['count'].mean()
print(f'The average count of actions within 10 Minutes yields: {events_10_min_average} actions per 10 Minutes')

The average count of actions within 10 Minutes yields: 162.86644951140065 actions per 10 Minutes

## Task D: Finally we would like you to compute the top 10 minutes with a bigger amount of "open" action.

In [85]:
events_1_min_open = events_1_min[events_1_min['action']=='Open']
events_1_min_open.sort_values(by=['count'], ascending= False, inplace=True)
events_1_min_open.head(10)

<ipython-input-85-de9c4905ac34>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_1_min_open.sort_values(by=['count'], ascending= False, inplace=True)

                          time action  count
5061 2016-07-27 20:59:00+00:00   Open     34
2555 2016-07-27 00:06:00+00:00   Open     30
629  2016-07-26 08:03:00+00:00   Open     30
3905 2016-07-27 11:21:00+00:00   Open     30
4375 2016-07-27 15:16:00+00:00   Open     29
2359 2016-07-26 22:28:00+00:00   Open     29
3799 2016-07-27 10:28:00+00:00   Open     29
3687 2016-07-27 09:32:00+00:00   Open     28
5909 2016-07-28 04:03:00+00:00   Open     28
3657 2016-07-27 09:17:00+00:00   Open     28